* {
    font-family: 'M PLUS 1', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 450;
}

p {
    font-weight: 400;
}

body {
    color: #171a20
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 25px 50px;
    background-color: #ADB2BE;
}

main {
    background-color: #57595F;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.polyeder {
    height: 20px;
}

header nav.rightn {
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 4px 15px;
    border-radius: 12px;
    font-size: 14px;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.195);
}

section {
    height: 100vh;
    background-image: linear-gradient(to top, #57595F 0%, #ADB2BE 80%);
}

.dodekaeder {
    max-width: 310px;
    padding: 20px;
}

section .content {
    width: 100%;
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto auto min-content;
}

section h1 {
    font-size: 48px;
    color: white;
    font-weight: 400;
    padding-bottom: 10px;
}

section p {
    font-size: 17px;
    color: white;
    font-weight: light;
}

section .row {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slide-up 2s;

}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.center {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
}

.button {
    padding-top: 25px;
}

section .row p {
    font-size: 12px;
}

section h2 {
    color: white;
    padding-bottom: 8px;
}

section .button a {
    background-color: transparent;
    color: white;
    padding: 8px 60px;
    border-radius: 25px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

section .button a:hover {
    background-color: white;
    color: #57595F;
}

#Symmetrie {
    color: white;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.slick-dots li button:before {
    color: white;
    font-size: 12px;
}

.slick-dots {
    bottom: 180px;
    text-align: left;
    padding-left: 280px;
}

.image_box {
    background-color: #EDEDED;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4% 0%;
    border-radius: 32px;
}

.slider_image {
    display: block;
    margin: 0px auto;
    max-height: 330px;
}

.slider_headline {
    color: white;
    margin-left: 290px;
    padding-bottom: 10px;
}

.slider_text {
    color: white;
    margin-left: 290px;
    margin-right: 290px;
    margin-bottom: 5%;
    font-size: 14px;
}

#space {
    margin-top: 10%;
    margin-bottom: 10%;
}

.half_image {
    max-width: 250px;
}

.half_description {
    margin-left: 15%;
}

.half_description_right {
    margin-left: 5%;
    margin-right: 15%;
}

.half_headline {
    color: white;
    padding-bottom: 10px;
}

.half_text {
    color: white;
    font-size: 14px;
}

.facts {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

#rightSide {
    flex-direction: row-reverse;
}

.color {
    color: #171a20;
}

.text {
    padding: 4% 15%;
    background-color: white;
    display: flex;
    height: 30vh;
}

.left {
    width: 160px;
}

.left h2 {
    padding-top: 2px;
    padding-bottom: 16px;
}

.right {
    padding-left: 15%;
}

.secondContent {
    height: 70vh;
    padding-top: 135px;
    padding-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
    background-color: #EDEDED;
}

.secondRow {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
}

.picture {
    max-width: 70%;
}

.werte p {
    font-size: 12px;
}

#koerpernetz {
    background: #ADB2BE;
    padding: 10% 10%;
}

.bild_box {
    background-color: white;
    margin-top: 10%;
    padding: 2% 10%;
    border-radius: 32px;
}

.picturek {
    max-width: 80%;
    display: block;
    margin: 50px auto;
}

.textk {
    padding-left: 5%;
    padding-right: 20%;
}

.textk p {
    padding-top: 15px;
}

.mehrErfahren {
    display: flex;
}

.mehrErfahren a {
    background-color: transparent;
    color: #171a20;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;
    border-color: #171a20;
    border-width: 3px;
    border-style: solid;
    text-decoration: none;
}

.mehrErfahren a:hover {
    background-color: #171a20;
    color: white;
    border-radius: 100%;
}

.mehrErfahren p {
    color: #171a20;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    align-self: center;
}

.dual {
    display: flex;
    height: 100vh;
    background-color: white;
}

.bild_box_d {
    background-color: #EDEDED;
    flex-basis: 0;
    min-width: calc(100% - 480px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_d {
    max-width: 420px;
}

.text_d {
    width: 478px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 70px;
}

.text_d h2 {
    padding-bottom: 15px;
}

.text_d h4 {
    padding-top: 15px;
}

#padding {
    padding-bottom: 310px;
}

.dual_b {
    display: flex;
    height: 100vh;
    background-color: white;
    align-items: center;
}

.headline {
    flex: 1;
    margin-left: 10%;
}

.headline h2 {
    padding-bottom: 30px;
}

.pic_box_b {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_b {
    max-width: 200px;
    margin: 0px;
}


.picture_b {
    max-width: 300px;
}

.buttonPrimary a {
    background-color: #171a20;
    color: white;
    padding: 8px 60px;
    border-radius: 25px;
    border-color: #171a20;
    border-width: 3px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
}

.buttonPrimary a:hover {
    background-color: rgb(87, 87, 87);
    color: white;
    border-color: rgb(87, 87, 87);
}

.buttonSecondary a {
    background-color: transparent;
    color: #171a20;
    padding: 8px 60px;
    border-radius: 25px;
    border-color: #171a20;
    border-width: 3px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15px;
}

.buttonSecondary a:hover {
    background-color: #171a20;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    background-color: white;
    font-size: 12px;
    color: #5C5E62;
    cursor: pointer;
}

footer p {
    padding-left: 20px;
    padding-right: 20px;
}

/*Tablet-Desktop*/
@media (max-width: 1300px) {

    .slider_headline {
        margin-left: 20%;
    }

    .slider_text {
        margin-left: 20%;
        margin-right: 20%;
    }

    .slick-dots {
        bottom: 185px;
        padding-left: 19%;
    }

    .secondContent {
        padding-top: 150px;
    }

    .secondRow {
        padding-top: 8%;
    }

    /*Tablet*/
    @media (max-width: 1000px) {

        header nav a {
            background-color: rgba(255, 255, 255, 0.195);
        }

        section .row {
            flex-wrap: wrap;
        }

        .button {
            display: block;
            margin: auto;
        }

        .slider_headline {
            margin-left: 15%;
        }

        .slider_text {
            margin-left: 15%;
            margin-right: 15%;
        }

        .slick-dots {
            bottom: 190px;
            padding-left: 14%;
        }

        .image_box {
            margin-left: 0;
            margin-right: 0;
            margin-top: 10%;
            margin-bottom: 15%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 2%;
            padding-bottom: 2%;
            border-radius: 0px;
        }

        .facts {
            margin-left: 15%;
            margin-right: 15%;
        }

        .secondContent {
            height: fit-content;
            padding-bottom: 50px;
            padding-top: 125px;
        }

        .secondRow {
            padding-top: 10%;
            margin-left: 15%;
            margin-right: 15%;
        }

        .picture {
            max-width: 85%;
        }

        .text {
            padding: 3% 36px;
            flex-direction: column;
            height: fit-content;
        }

        .right {
            padding-left: 0;
            padding-top: 15px;
        }

        .bild_box {
            margin-left: 5%;
            margin-right: 5%;
            padding: 7%;
        }

        #koerpernetz {
            padding: 10% 0%;
        }

        .picturek {
            display: block;
            margin: 10px auto;
        }

        .textk {
            padding-left: 5%;
            padding-right: 5%;
        }

        .dual {
            flex-direction: column;
            height: fit-content;
        }

        .picture_d {
            padding-top: 10%;
            padding-bottom: 10%;
            max-width: 300px;
        }

        .text_d {
            width: fit-content;
            padding: 5%;
        }

        #padding {
            padding-bottom: 35px;
        }

        .headline {
            margin: 0px 24px;
        }

        .picture_b {
            max-width: 200px;
            margin: 0px;
        }

        .buttons a {
            padding: 8px 38px;
        }
    }


    /*Mobile*/
    @media (max-width: 600px) {

        header {
            padding: 20px 20px;
        }

        header nav a {
            background-color: rgba(255, 255, 255, 0.195);
        }

        section h1 {
            font-size: 34px;
        }

        section p {
            font-size: 14px;
        }

        .dodekaeder {
            max-width: 290px;
        }

        section .row {
            margin: 0% 15%;
            flex-wrap: wrap;
        }

        section .row p {
            font-size: 10px;
        }

        .center {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
        }

        .button {
            padding-top: 25px;
            display: block;
            margin: auto;
        }

        section .button a {
            padding: 8px 75px;
        }

        .slider_image {
            max-height: 290px;
        }

        .slider_headline {
            margin-left: 5%;
        }

        .slider_text {
            margin-left: 5%;
            margin-right: 5%;
        }

        .slick-dots {
            bottom: 195px;
            padding-left: 3%;
        }

        .image_box {
            padding: 12% 10%;
            border-radius: 0px;
        }

        .facts {
            margin-left: 0;
            margin-right: 0;
            display: block;
        }

        .half_description {
            margin-left: 5%;
            margin-right: 5%;
            padding-bottom: 15%;
        }

        .half_image {
            display: block;
            margin: 0px auto;
            max-height: 200px;
            padding-bottom: 5%;
        }

        .half_headline {
            padding-bottom: 10px;
        }

        .secondRow {
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 100px;
        }

        .picture {
            max-width: 90%;
        }

        .secondContent {
            height: fit-content;
            padding-top: 135px;
            padding-bottom: 30px;
        }

        .text {
            height: fit-content;
            padding: 24px 5%;
            flex-direction: column;
        }

        .right {
            padding: 16px 0px;
        }

        #koerpernetz {
            padding: 10% 0%;
        }

        .picturek {
            max-width: 100%;
            display: block;
            margin: 10px auto;
        }

        .textk {
            padding-left: 5%;
            padding-right: 5%;
        }

        .dual {
            flex-direction: column;
            height: fit-content;
        }

        .picture_d {
            max-width: 230px;
            padding-top: 48px;
            padding-bottom: 48px;
        }

        .text_d {
            padding: 5%;
        }

        #padding {
            padding-bottom: 15px;
        }

        .dual_b {
            flex-direction: column-reverse;
            height: fit-content;
        }

        .headline {
            padding-bottom: 190px;
            padding-top: 30px;
            margin: auto;
        }

        .picture_b {
            max-width: 150px;
            padding-top: 160px;
        }

        .buttons {
            flex-direction: column;
            display: block;
            margin: auto;
        }

        .buttonPrimary {
            margin-bottom: 20px;
        }

        .buttonPrimary a {
            padding: 8px 39%;
            width: 100%;
            display: inline-block;
        }

        .buttonSecondary a {
            padding: 8px 39%;
            margin-left: 0;
            width: 100%;
            display: inline-block;
        }

        .footer {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .footer p {
            margin-bottom: 8px;
        }
    }
}