* {
    font-family: 'M PLUS 1', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #171a20
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 25px 50px;
    background-color: #ADB2BE;
}

main {
    background-color: #57595F;
}

.polyeder {
    height: 20px;
}

header nav.rightn {
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 4px 15px;
    border-radius: 12px;
    font-size: 14px;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.195);
}

section {
    height: 100vh;
    background-image: linear-gradient(to top, #57595F 0%, #ADB2BE 80%);
}

.dodekaeder {
    max-width: 300px;
}

section .content {
    width: 100%;
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto auto min-content;
}

section h1 {
    font-size: 40pt;
    color: white;
    font-weight: lighter;
    padding-bottom: 10px;
}

section p {
    font-size: 17px;
    color: white;
    font-weight: lighter;
}

section .row {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .row p {
    font-size: 12px;
}

section h2 {
    color: white;
    padding-bottom: 8px;
}

section .button a {
    background-color: transparent;
    color: white;
    padding: 6px 60px;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
}

section .button a:hover {
    background-color: white;
    color: #57595F;
}

#Symmetrie {
    color: white;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.slick-dots li button:before {
    color: white;
    font-size: 12px;
}

.slick-dots {
    bottom: 110px;
    text-align: left;
    padding-left: 280px;
}

.image_box {
    background-color: #EDEDED;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 32px;
}

.slider_image {
    display: block;
    margin: 0px auto;
    max-height: 300px;
}

.slider_headline {
    color: white;
    margin-left: 290px;
    padding-bottom: 10px;
}

.slider_text {
    color: white;
    margin-left: 290px;
    margin-right: 290px;
    font-size: 14px;
}

#space {
    margin-top: 10%;
    margin-bottom: 10%;
}

.half_image {
    max-width: 250px;
}

.half_description {
    margin-left: 15%;
}

.half_headline {
    color: white;
    padding-bottom: 10px;
}

.half_text {
    color: white;
    font-size: 14px;
}

.facts {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
}

.color {
    color: #171a20;
}

.text {
    padding: 3% 15%;
    background-color: white;
    display: flex;
    height: 25vh;
}

.right {
    padding-left: 15%;
    flex: 6;
}

.left {
    flex: 2;
}

.secondContent {
    height: 75vh;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto auto min-content;
    background-color: #EDEDED;
}

.secondRow {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.picture {
    max-width: 70%;
}

#koerpernetz {
    background: #ADB2BE;
    padding: 7% 10%;
}

.bild_box {
    background-color: white;
    margin-top: 5%;
    padding: 2% 10%;
    border-radius: 32px;
}

.picturek {
    max-width: 80%;
    display: block;
    margin: 50px auto;
}

.textk {
    padding-left: 5%;
    padding-right: 20%;
}

.textk p {
    padding-top: 15px;
}

.mehrErfahren {
    display: flex;
}

.mehrErfahren a {
    background-color: transparent;
    color: #171a20;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;
    border-color: #171a20;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
}

.mehrErfahren a:hover {
    background-color: #171a20;
    color: white;
    border-radius: 100%;
}

.mehrErfahren p {
    color: #171a20;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 10px;
    align-self: center;
}

.dual {
    display: flex;
    height: 100vh;
    background-color: white;
}

.bild_box_d {
    background-color: #EDEDED;
    flex-basis: 0;
    flex-grow: 2;
    min-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_d {
    max-width: 420px;
}

.text_d {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 70px;
}

.text_d h2 {
    padding-bottom: 15px;
}

.text_d h4 {
    padding-top: 15px;
}

#padding {
    padding-bottom: 200px;
}

.dual_b {
    display: flex;
    height: 100vh;
    background-color: white;
    align-items: center;
}

.headline {
    flex: 1;
    margin-left: 10%;
}

.headline h2 {
    padding-bottom: 30px;
}

.pic_box_b {
    flex: 1;
}

.picture_b {
    max-width: 300px;
}

.buttonPrimary a {
    background-color: #171a20;
    color: white;
    padding: 6px 60px;
    border-radius: 25px;
    border-color: #171a20;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
}

.buttonPrimary a:hover {
    background-color: rgb(87, 87, 87);
    color: white;
    border-color: rgb(87, 87, 87);
}

.buttonSecondary a {
    background-color: transparent;
    color: #171a20;
    padding: 6px 60px;
    border-radius: 25px;
    border-color: #171a20;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
    margin-left: 15px;
}

.buttonSecondary a:hover {
    background-color: #171a20;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 28%;
    background-color: white;
    font-size: 12px;
    color: #5C5E62;
    cursor: pointer;
}

@media (max-width: 700px) {

    header {
        padding: 20px 20px;
    }

    header nav a {
        background-color: rgba(255, 255, 255, 0.195);
    }

    section h1 {
        font-size: 34px;
    }

    section p {
        font-size: 14px;
    }

    .dodekaeder {
        max-width: 200px;
    }

    section .row {
        margin: 0% 5%;
        ;
        flex-wrap: wrap;
    }

    section .row p {
        font-size: 10px;
    }

    section .button a {
        margin-top: 60px;
        padding: 6px 125px;
        font-size: 10pt;
        letter-spacing: 1px;
    }

    .slider_image {
        max-height: 200px;
    }

    .slider_headline {
        margin-left: 5%;
        padding-bottom: 10px;
    }

    .slider_text {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20%;
    }

    .slick-dots {
        bottom: 255px;
        text-align: left;
        margin-left: 3%;
        padding-left: 0%;
    }

    .image_box {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10%;
        margin-bottom: 15%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 0px;
    }

    .facts {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }

    .half_description {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 15%;
    }

    .half_image {
        display: block;
        margin: 0px auto;
        max-height: 200px;
        padding-bottom: 5%;
    }

    .half_headline {
        padding-bottom: 10px;
    }

    .secondRow {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 100px;
        font-size: 10px;
    }

    .secondContent {
        height: fit-content;
        padding-top: 110px;
        padding-bottom: 30px;
    }

    .text {
        height: fit-content;
        padding: 24px 5%;
        flex-direction: column;
    }

    .right {
        padding: 16px 0px;
    }

    .bild_box {
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
        margin-top: 10%;
        margin-bottom: 15%;
        border-radius: 0px;
    }

    #koerpernetz {
        padding: 0;
    }

    .picturek {
        max-width: 80%;
        display: block;
        margin: 10px auto;
    }

    .textk {
        padding-left: 5%;
        padding-right: 5%;
    }

    .textk h2 {
        padding-top: 70px;
    }

    .dual {
        flex-direction: column;
        height: fit-content;
    }

    .picture_d {
        max-width: 230px;
        padding-top: 48px;
        padding-bottom:48px;
    }
    
    .text_d {
        padding: 5%;
    }

    #padding {
        padding-bottom: 15px;
    }

    .dual_b {
        flex-direction: column;
        height: fit-content;
    }

    .headline {
        margin: 30px 15px;
    }

    .picture_b {
        max-width: 150px;
        margin: 48px 0px;
    }

    .buttons {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer p {
        margin-bottom: 8px;
    }
}